@import url('https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
}
/*Estilos para el encabezado*/
.header{
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;left: 0;
    background-color: #1f203a;
}
.container{
    width: 90%;
    max-width: 1200px;
    margin: auto;
}
.container .btn-menu, .texto{
    float: right;
    line-height:100px;
}
.container .btn-menu label{
    color: #fff;
    font-size: 25px;
    cursor: pointer;
}
.texto h2{
    color: #fff;
    font-weight: 400;
    font-size: 22px;
    margin-left: 10px;
    margin-right: 10px;
}
/*Fin de Estilos para el encabezado*/

/*Menù lateral*/
#btn-menu{
    display: none;
}
.container-menu{
    position: fixed;
    top: 0;left: 0;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100vh;
    top: 0;left: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}
#btn-menu:checked ~ .container-menu{
    opacity: 1;
    visibility: visible;
}
.cont-menu{
    width: 100%;
    max-width: 250px;
    background: #1c1c1c;
    height: 100vh;
    position: relative;
    transition: all 500ms ease;
    transform: translateX(-100%);
}
#btn-menu:checked ~ .container-menu .cont-menu{
    transform: translateX(0%);
}
.cont-menu nav{
    transform: translateY(15%);
}
.cont-menu nav a{
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #c7c7c7;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
}
.cont-menu nav a:hover{
    border-left: 5px solid #c7c7c7;
    background: #1f1f1f;
}
.cont-menu label{
    position: absolute;
    right: 5px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}
/*Fin de Menù lateral*/

/*Cuerpo de la pagina*/
.prinseccion{
    background-color: #e0e3e4;
    margin-top:100px;
}
.prinseccion img{
    margin-top:100px;
    margin-left: 450px;
    margin-bottom: -70px;
    width: 410px;
    height: 410px;
    border-radius: 50%;
    border-style: solid;
    border-width: 10px;
    border-color: #fff;
    
}
.cuerpo h1{
    text-align: center;
    margin-top: 100px;
    font-family: 'Source Sans Pro';
    font-size: 60px;
}
.cuerpo p{
    text-align: center;
    font-size: 20px;
}
.cuerpo h2{
    font-family: 'Source Sans Pro';
    font-size: 70px;
    margin-top: 200px;
    margin-left: 60px;
    margin-bottom: -120px;
}
.cuerpo #img1{
    width: 550px;
    height: 530px;
    margin-left: 60px;
}
.cuerpo #img2{
    width: 550px;
    height: 530px;
    margin-bottom: 180px;
    margin-left: 40px;
    display: inline-block;
}
.cuerpo-m{
    background-color: #e0e3e4;
    margin-top: -255px;
    height: 37vh;
    padding-top: 133px;
}
.cuerpo-m p{
    margin-left: 654px;    
}
.cuerpo-m button{
    margin-top: 50px;
    margin-left: 654px;
    width: 150px;
    height: 50px;
}
.parrafo{
    font-size: 40px;
    text-align: center;
    margin-top: 50px;
    line-height: 2.0; 
}
.icono{
    margin-top: 20px;
    margin-left: 65vh;
    width: 70px;
    height: 70px;
}
footer{
    background-image: url(../imagenes/footer.jpg);
    background-repeat: no-repeat;
    height: 40vh;
    background-size: 100% 100%;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.7);
    margin-top: 60px;
    padding-top: 100px;
}
footer p{
    color: #fff;
    font-size: 20px;
    text-align: center;
}
.icono2{
    margin-top: 20px;
    margin-left: 608px;
    width: 40px;
    height: 40px;
    color: #fff;
}